
/*Neal Noble*/
/*Course: IT 328 - Full-Stack Web Development */
/*Assignment: signup*/
/*April 2017*/
/*Instructor: Tina Ostrander*/

body
{
    margin-top: 15px;
    text-align:justify;
    font-family: Helvetica, serif;
    font-size:13pt;
    /*background-color:#4A62E8;*/
}


.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.boldText{
    font-weight: bold;
}


/* Adapted from http://www.loriswebs.com/css-dropshadow.html*/
.dropshadowimg
{
    border-radius: 5px;


    width: 70%;
    height: 70%;
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
    box-shadow: 5px 5px 5px #999; }

#idimageSummit,#fileToUpload {
    display: inline-block;
}
.indent {

    margin-left: 20px;
}

.HomePageIndent {

    margin: 20px;
    font-style: italic;
}

.center {
    text-align:center;
}

.boxed {
    border: 1px solid green;
}

.underline
{
    text-decoration: underline;
}

pre {
    display: block;
    padding: 9px;
    font-size: 10px;
    margin: 0 10px 20px;
    width: 60%;
    line-height: 15px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    background-color: #ffffe5f5;
    border: 2px solid #ccc;
    border-radius: 1px;
}


.myDiv {

    padding: 9px;
    font-size: 10px;
    margin: 0 10px 20px;
    line-height: 15px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;

    border-radius: 3px;
}

.myDivs {

    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    background-color: #f5f5f5;
}




.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}