/*
    Name: Marlene Leano
    Date: April 9, 2017
    styles for URL: mleano.greenrivertech.net/IT328/dating/styles/styles.css
    This is the styles of the home page of my dating website.
*/


/*Styles for the navigation bar*/
nav {
    background: #ddd;
}

nav ul li {
    list-style: none;
    padding-left: -1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li a {
    color: #4d4d4d;
}

nav ul li a:hover {
    text-decoration: none;
    color: #0000ff;
}


/*Styles for the panel and its contents*/
.panel {
    margin: 2%;
}

h1 {
    text-align: center;
    padding-bottom: 3%;
}

h4 {
    text-align: center;
    padding-top: 4%;
}

cite {
    font-size: smaller;
}

blockquote {
    border: none;
}

#button {
    text-align: center;
}

.img-rounded {
    max-width: 100%;
    height: auto;
    display: block;
}

img {
    margin-top: 3%;
}